
/*
Пропиши стилі для body (font-family, color та background-color)
CSS-правила для скидання дефолтного підкреслення для посилань та маркерів у списках.
*/

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #2E2F42;
    background-color: #fff;

}
h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Header */
.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    text-transform: uppercase;
}

.logo span {
    color:#4D5AE5;
}

.top-menu-items {
    font-weight: 500;
}
.top-menu-items a:hover, .top-menu-items a:focus {
    color: #404BBF;
} 

.menu-contacts a{
    color: #434455;
}
.menu-contacts a:hover, .menu-contacts a:focus {
    color: #404BBF;
} 

/* 
Main ->
Section main-page 
*/

.main-page {
    text-align: center;
    background-color: #2E2F42;
    
}

.main-page h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.111;
    color: #fff;
}

.main-page .main-button {
    font-weight: 500;
    background-color: #4D5AE5;
}

.main-page .main-button:hover, .main-page .main-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* 
Main ->
Section our-benefits
*/

.our-benefits h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.our-benefits h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.our-benefits p {
    color:#434455;
}


/* 
Main ->
Section our-team 
*/

.our-team {
    text-align: center;
    background-color: #F4F4FD;
}
.our-team h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
}
.our-team li{
    background-color: #fff;   
}

.our-team h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

/*
Main ->
Section our-portfolio
*/

.our-portfolio{
    color:#434455;
}

.our-portfolio h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    text-align: center;
}

.our-portfolio h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

.our-portfolio p {
    color:#434455;
}


/* Footer */

footer{
    color: #F4F4FD;
    background-color: #2E2F42;
}