/*
Які шрифти використовуються?
Знайди потрібні шрифти на сайті Google Fonts та сформуй посилання. Підказка: обидва шрифта потрібно підключати одним посиланням. Додай посилання у html-файли.

Які кольори використовуються у макеті?
Із цим допоможе Style Guide.



Порядок додавання стилів:



Пропиши стилі для body (font-family, color та background-color)
Пропиши CSS-правила для скидання дефолтного підкреслення для посилань та маркерів у списках.
*/

body {
 font-family: "Roboto", sans-serif;
 /*font-size: 16;
 font-weight: 400;*/
 line-height: 1.5;
 color: #2E2F42;
 background-color: #fff;

}
h1, h2, h3, h4, h5, h6{
    font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
}

/**/
a {
    text-decoration: none;
    color: currentColor;
}

.logo {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.166;
}

.logo span {
    color:#4D5AE5;
}

.top-menu-items {
    font-weight: 500;
}

.main-page {
    background-color: #2E2F42;
    text-align: center;
}

.main-page h1 {
    font-weight: 700;
    color: #fff;
    line-height: 1.111;
}

.main-page button {
    font-weight: 500;
    background-color: #4D5AE5;
}